# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
build/
dist/
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Operating system / desktop cruft
.DS_Store
Thumbs.db

# Editors
*.swp
*~
.idea/
.vscode/
